
body {
	background-color: #f6efef;
	background-image: url("../images/cheeses.png");
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 320%;
	color: black;
	font-family: 'Niconne', cursive;
	margin: 50px;
	padding: 15px;
	background-color: #f8f9fA;
	border: 1px solid #f8f9fA;
	border-radius: 5px;
}

.btn {
	margin: 20px;
	font-family: 'Niconne', cursive;
	font-size: 200%;
	float: right;
	background-color: #f8f9fA;

}

p {
	padding: 15px;
	background-color: #f8f9fA;
	color: black;
	text-align: center;
}

#countdown {
	float: right;
	width: 50px;
	margin: 10px;
	padding: 10px;
	font-size: 200%;
	background-color: #f8f9fA;
	border-radius: 5px;
	border: 1px solid #f8f9fA;
	opacity: .9;
}

.end {
	padding: 0 15px 15px;
	background-color: #f8f9fA;
	color: black;
	font-family: 'Niconne', cursive;
	font-size: 300%;
	text-align: center;
}

.questions {
	width: 80%;
	margin: 60px 0 30px 0;
	border-radius: 5px;
	font-family: 'Niconne', cursive;
	font-weight: bold;
	font-size: 200%;
	opacity: .9;
}

.correctyay {
	background-color: lightgreen;
}

.wrongboo {
	background-color: lightpink;
}


.answers {
	width: 100%;
	opacity: .9;
}

@media (max-width: 767.98px) {
	h1 {
		font-size: 240%;
	}
	.answers {
		width: 80%;
	}
	body {
	background-image: url("../images/cheeses.png");
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	}
}