
body {
	background-color: #f6efef;
	background-image: url("../images/cheeses.png");
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 320%;
	color: black;
	font-family: 'Niconne', cursive;
	margin: 50px;
	padding: 15px;
	background-color: #f8f9fA;
	border: 1px solid #f8f9fA;
	border-radius: 5px;
}

.btn {
	margin: 20px;
	font-family: 'Niconne', cursive;
	font-size: 200%;
	float: right;
	background-color: #f8f9fA;

}

p {
	padding: 15px;
	background-color: #f8f9fA;
	color: black;
	text-align: center;
	margin: 2% 0 0 0;
	border-radius: 20px;
}

.hover:hover {
	background-color: rgb(238, 238, 238);
}

#countdown {
	margin: 60px 10px 30px 0;
	float: right;
	width: 50px;
	padding: 10px;
	font-size: 200%;
	background-color: #f8f9fA;
	border-radius: 5px;
	border: 1px solid #f8f9fA;
	opacity: .9;
}

.end {
	padding: 0 15px 15px;
	background-color: #f8f9fA;
	color: black;
	font-family: 'Niconne', cursive;
	font-size: 300%;
	text-align: center;
	opacity: .9;
}

.questions {
	width: 80%;
	margin: 60px 0 30px 0;
	border-radius: 5px;
	font-family: 'Niconne', cursive;
	font-size: 200%;
	opacity: .9;
}

.correctyay {
	background-color: lightgreen;
}

.wrongboo {
	background-color: lightpink;
}


.answers {
	width: 100%;
	opacity: .9;
}

/* Optimization for mobile devices */
@media (max-width: 992px) {
	body {
		background-image: url("../images/cheeses.png");
		background-position: 70% 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
	}
}

@media (max-width: 992px) {
	h1 {
		font-size: 240%;
	}
}

@media (max-width: 992px) {
	.questions {
		margin: 20px 0 0 0;
		font-family: 'Niconne', cursive;
		font-size: 200%;
		opacity: .9;
	}
}
@media (max-width: 992px) {
	#countdown {
		margin: 2px;
	}
}

@media (max-width: 992px) {
	.answers {
		width: 100%;
	}
}